html, body {
  overflow-x: hidden;
}

.ember-view {
    /*background-color:#a8e0fe;*/
    /*background-color:darkslategray;*/
    background-color:#002626;
    /*background-color: #0E4749;*/
}

.cover {
    height: 280px;
    background: transparent; 
    background-position: center; 
    background-size: cover; 
    background-image:url('../assets/images/tenaya.jpg');
    opacity: 0.6;
    display: flex;
   　-webkit-align-items: center;  
    -ms-flex-align: center;  
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

@media(max-width: 1500px) {
    .cover {
        height: 280px;
        background: transparent; 
        background-position: center; 
        background-size: cover; 
        background-image:url('../assets/images/tenaya-small.jpg');
        opacity: 0.6
    }
}

.cover-title {
    margin: 2% 10% 0 10%;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 32px;
}

@media(max-width: 900px) {
    .cover-title {
        margin: 2% 10% 0 10%;
        color: white;
        text-align: center;
        align-content: center;
        font-size: 28px;
    }
}

@media(max-width: 600px) {
    .cover-title {
        margin: 2% 10% 0 10%;
        color: white;
        text-align: center;
        align-content: center;
        font-size: 24px;
    }
}

.table {
    background-color:white;
}

.converter {
    text-align: center;
    margin-bottom: 20px;
}

.convert-result-show {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.convert-result-hide {
    display: none;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.conversion-panel {
    background-color: white;
    padding-bottom: 20px;
}

#conversion-panel-block {
    display: none;
}

#conversion-table {
    table-layout: fixed;
}

@media(max-width: 600px) {
    .form-container {
        padding-left: 20px;
        padding-right: 20px;
    }    
    #converter-button {
        display: none;
    }
    #conversion-table {
        display: none;
    }
    #conversion-panel-block {
        display: block;
        margin-top: -30px;
    }
}

@media(max-width: 775px) {
    .converted-result-block {
        text-align: center;
    }
}

/* The Modal (background) */
.modal-hidden {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 14px;
}

.modal-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 24px;
}

.center {
    text-align: center;
}

.close {
    padding: 10px;
}

.app-store-link {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.footer {
    background-color: #0E4749;
    /*background-color: #002626;*/
    /*background-color: darkslategray;*/
    color: white;
    padding: 30px 0 20px 0;  
}

.footer a {
    color: white;    
}